:root{
    --pink-500: rgb(251, 111, 146);
    --pink-400: rgb(255, 143, 171);
    --pink-300: rgb(255, 179, 198);
    --pink-200: rgb(255, 194, 209);
    --pink-100: rgb(255, 229, 236);
    --pink-white: rgb(255, 245, 248);

    --blue-500: rgb(81, 219, 251);
    --blue-400: rgb(143, 234, 255);
    --blue-300: rgb(179, 241, 255);
    --blue-200: rgb(194, 244, 255);
    --blue-100: rgb(229, 250, 255);
    --blue-white: rgb(245, 253, 255);

    --eigengrau: rgb(22, 22, 29);

}